## 如何修改字段类型？
在导入数据时，你可以通过 `dtype` 参数指定 `订单周期` 字段为字符串类型：

### 1. 在导入数据时指定类型
```python
data = pd.read_excel('part-2.xlsx', dtype={'订单周期': str})
```

### 2. 导入数据之后修改类型
如果数据已经导入，你可以使用 `astype` 方法将 `订单周期` 字段转换为字符串：

```python
data['订单周期'] = data['订单周期'].astype(str)
```

In [2]:
import pandas as pd

# 假设你的数据存储在一个 DataFrame 中
data = {
    '商机编码': ['A001', 'A002'],
    '合同总金额（元）': [100000, 200000],
    '人员名称': ['张三,李四', '张三,赵六,孙七']
}

df = pd.DataFrame(data)

# 拆分人员名称列
df['人员名称'] = df['人员名称'].str.split(',')

# 使用 explode 将拆分的列表展开为多行
df_expanded = df.explode('人员名称')

# 输出结果
print(df_expanded)

   商机编码  合同总金额（元） 人员名称
0  A001    100000   张三
0  A001    100000   李四
1  A002    200000   张三
1  A002    200000   赵六
1  A002    200000   孙七

In [6]:
import pandas as pd

# 假设你的数据存储在一个 DataFrame 中
data = {
    '商机编码': ['A001', 'A001', 'A002', 'A002', 'A001','A003'],
    '合同总金额（元）': [100000, 100000, 200000, 200000, 100000, 100000],
    '人员名称': ['张三', '张三', '李四', '李四', '张三','王五']
}

df = pd.DataFrame(data)

df

   商机编码  合同总金额（元） 人员名称
0  A001    100000   张三
1  A001    100000   张三
2  A002    200000   李四
3  A002    200000   李四
4  A001    100000   张三
5  A003    100000   王五

In [7]:
# 先对数据进行分组并过滤出重复的组合
duplicates = df.groupby(['商机编码', '人员名称'])['合同总金额（元）'].filter(lambda x: len(x) > 1)
duplicates

0    100000
1    100000
2    200000
3    200000
4    100000
Name: 合同总金额（元）, dtype: int64

In [12]:
import pandas as pd

# 创建三个Series对象
series1 = pd.Series([5, 1, 1], index=['AA', 'BB', 'CC'], name='字段1')
series2 = pd.Series([5, 1, 1], index=['AA', 'BB', 'CC'], name='字段2')
series3 = pd.Series([5, 1], index=['BB', 'EE'], name='字段3')

# 使用pd.concat合并Series为DataFrame
df = pd.concat([series1, series2, series3], axis=1)

print(df)

    字段1  字段2  字段3
AA  5.0  5.0  NaN
BB  1.0  1.0  5.0
CC  1.0  1.0  NaN
EE  NaN  NaN  1.0

In [10]:


# 输出结果
print(unique_duplicates)

NameError: name 'unique_duplicates' is not defined